<center>
    This is Set 3: Data Selection (Exercises 21-30)
</center>

**Prerequisites**
* The sample dataset [datatableton_sample.csv](https://github.com/vopani/datatableton/blob/main/data/datatableton_sample.csv) will be used for the exercises.

In [96]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
import pyspark.sql.functions as F
from pyspark.sql.window import Window

In [ ]:
spark = SparkSession.builder.getOrCreate()

In [68]:
data = spark.read.options(header=True, inferSchema=True, nullValue="NA").csv(
    "../data/datatableton_sample.csv"
)
data.show()

+-------------------+----+----+-------+--------+-----+--------+
|          timestamp|user| age|product|category|price|quantity|
+-------------------+----+----+-------+--------+-----+--------+
|2017-01-01 13:22:41|  U1|  21|   Eggs|   Dairy|  2.3|       2|
|2017-05-22 09:54:21|  U2|  41|  Bread|    null|  0.6|       2|
|2018-11-09 15:00:01|  U3|null| Banana|   Fruit|  0.7|       1|
|2018-12-24 23:03:33|  U1|  21|  Water|   Drink|  0.2|       1|
|2019-03-03 06:21:58|  U4|  19|   Eggs|   Dairy|  2.3|       2|
|2019-06-17 16:13:39|  U5|  25| Grapes|   Fruit|  1.5|       1|
|2019-07-28 21:03:11|  U5|  25|  Bread|    null|  0.6|       1|
|2019-12-05 04:15:42|  U1|  21| Banana|   Fruit|  0.7|       2|
|2020-02-02 03:45:34|  U3|null| Banana|   Fruit|  0.7|       1|
|2020-03-05 07:09:12|  U4|  19| Grapes|   Fruit|  1.5|       1|
|2020-03-22 19:29:38|  U1|  21|  Water|   Drink|  0.2|       1|
|2020-03-30 09:44:30|  U4|  19|  Water|   Drink|  0.2|       1|
|2020-04-01 13:21:41|  U1|  21| Banana|   Fruit|  0.7|       2|
|2020-07-08 11:45:25|  U2|  41| Grapes|   Fruit|  1.5|       1|
|2020-11-19 18:51:22|  U5|  25|  Water|   Drink|  0.2|       1|
|2020-12-03 16:23:48|  U3|null| Banana|   Fruit|  0.5|       3|
|2021-02-03 01:14:40|  U5|  25|   Eggs|   Dairy|  2.1|       4|
|2021-05-26 22:42:15|  U3|null|  Bread|    null|  0.6|       1|
|2021-06-14 15:49:28|  U4|  19|   Eggs|   Dairy|  2.3|       2|
|2021-07-01 04:37:31|  U4|  19|  Water|   Drink|  0.3|       1|
+-------------------+----+----+-------+--------+-----+--------+

In [70]:
data.printSchema()

root
 |-- timestamp: timestamp (nullable = true)
 |-- user: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- product: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: double (nullable = true)
 |-- quantity: integer (nullable = true)

**Exercise 21: Select the columns `user`, `product` and `quantity` from `data` and assign it to `data_upq` and select the `user` column from `data_upq` and assign it to `data_u`**

In [5]:
data_upq = data.select(["user", "product", "quantity"])
data_upq.show()

+----+-------+--------+
|user|product|quantity|
+----+-------+--------+
|  U1|   Eggs|       2|
|  U2|  Bread|       2|
|  U3| Banana|       1|
|  U1|  Water|       1|
|  U4|   Eggs|       2|
|  U5| Grapes|       1|
|  U5|  Bread|       1|
|  U1| Banana|       2|
|  U3| Banana|       1|
|  U4| Grapes|       1|
|  U1|  Water|       1|
|  U4|  Water|       1|
|  U1| Banana|       2|
|  U2| Grapes|       1|
|  U5|  Water|       1|
|  U3| Banana|       3|
|  U5|   Eggs|       4|
|  U3|  Bread|       1|
|  U4|   Eggs|       2|
|  U4|  Water|       1|
+----+-------+--------+

In [6]:
data_u = data_upq.select("user")
data_u.show()

+----+
|user|
+----+
|  U1|
|  U2|
|  U3|
|  U1|
|  U4|
|  U5|
|  U5|
|  U1|
|  U3|
|  U4|
|  U1|
|  U4|
|  U1|
|  U2|
|  U5|
|  U3|
|  U5|
|  U3|
|  U4|
|  U4|
+----+

**Exercise 22: Select columns 2nd to 4th using indices from `data` and assign it to `data_c234`**

In [8]:
data_c234 = data.select(data.columns[1:4])
data_c234.show()

+----+----+-------+
|user| age|product|
+----+----+-------+
|  U1|  21|   Eggs|
|  U2|  41|  Bread|
|  U3|null| Banana|
|  U1|  21|  Water|
|  U4|  19|   Eggs|
|  U5|  25| Grapes|
|  U5|  25|  Bread|
|  U1|  21| Banana|
|  U3|null| Banana|
|  U4|  19| Grapes|
|  U1|  21|  Water|
|  U4|  19|  Water|
|  U1|  21| Banana|
|  U2|  41| Grapes|
|  U5|  25|  Water|
|  U3|null| Banana|
|  U5|  25|   Eggs|
|  U3|null|  Bread|
|  U4|  19|   Eggs|
|  U4|  19|  Water|
+----+----+-------+

#### **Exercise 23: Select all string columns from `data` and assign it to `data_str`**

In [12]:
data.printSchema()

root
 |-- timestamp: timestamp (nullable = true)
 |-- user: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- product: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: double (nullable = true)
 |-- quantity: integer (nullable = true)

In [15]:
data.dtypes

[('timestamp', 'timestamp'),
 ('user', 'string'),
 ('age', 'int'),
 ('product', 'string'),
 ('category', 'string'),
 ('price', 'double'),
 ('quantity', 'int')]

In [16]:
data_str = data.select(
    [item[0] for item in data.dtypes if item[1].startswith("string")]
)
data_str.show()

+----+-------+--------+
|user|product|category|
+----+-------+--------+
|  U1|   Eggs|   Dairy|
|  U2|  Bread|      NA|
|  U3| Banana|   Fruit|
|  U1|  Water|   Drink|
|  U4|   Eggs|   Dairy|
|  U5| Grapes|   Fruit|
|  U5|  Bread|      NA|
|  U1| Banana|   Fruit|
|  U3| Banana|   Fruit|
|  U4| Grapes|   Fruit|
|  U1|  Water|   Drink|
|  U4|  Water|   Drink|
|  U1| Banana|   Fruit|
|  U2| Grapes|   Fruit|
|  U5|  Water|   Drink|
|  U3| Banana|   Fruit|
|  U5|   Eggs|   Dairy|
|  U3|  Bread|      NA|
|  U4|   Eggs|   Dairy|
|  U4|  Water|   Drink|
+----+-------+--------+

**Exercise 24: Select rows 4th and 1st from `data` and assign it to `data_r41`**

In [32]:
data_r41 = spark.createDataFrame([data.collect()[3], data.collect()[0]]).show()
data_r41

+-------------------+----+---+-------+--------+-----+--------+
|          timestamp|user|age|product|category|price|quantity|
+-------------------+----+---+-------+--------+-----+--------+
|2018-12-24 23:03:33|  U1| 21|  Water|   Drink|  0.2|       1|
|2017-01-01 13:22:41|  U1| 21|   Eggs|   Dairy|  2.3|       2|
+-------------------+----+---+-------+--------+-----+--------+

**Exercise 25: Select the element in the 4th row and 2nd column in `data` and assign it to `value_1` and select the 3rd element of `category` column in `data` and assign it to `value_2`**

In [43]:
value_1 = data.collect()[3][1]
value_1

'U1'

In [53]:
value_2 = data.select("category").collect()[2][0]
value_2

'Fruit'

**Exercise 26: Select rows from `data` where `category` is `Fruit` and assign it to `data_fruit` and select rows from `data_fruit` where `product` is `Banana` and `quantity` is more than 1 and assign it to `data_multi_banana`**

In [57]:
data_fruit = data.where(data["category"] == "Fruit")
data_fruit.show()

+-------------------+----+----+-------+--------+-----+--------+
|          timestamp|user| age|product|category|price|quantity|
+-------------------+----+----+-------+--------+-----+--------+
|2018-11-09 15:00:01|  U3|null| Banana|   Fruit|  0.7|       1|
|2019-06-17 16:13:39|  U5|  25| Grapes|   Fruit|  1.5|       1|
|2019-12-05 04:15:42|  U1|  21| Banana|   Fruit|  0.7|       2|
|2020-02-02 03:45:34|  U3|null| Banana|   Fruit|  0.7|       1|
|2020-03-05 07:09:12|  U4|  19| Grapes|   Fruit|  1.5|       1|
|2020-04-01 13:21:41|  U1|  21| Banana|   Fruit|  0.7|       2|
|2020-07-08 11:45:25|  U2|  41| Grapes|   Fruit|  1.5|       1|
|2020-12-03 16:23:48|  U3|null| Banana|   Fruit|  0.5|       3|
+-------------------+----+----+-------+--------+-----+--------+

In [58]:
data_multi_banana = data_fruit.where(data_fruit["product"] == "Banana")
data_multi_banana.show()

+-------------------+----+----+-------+--------+-----+--------+
|          timestamp|user| age|product|category|price|quantity|
+-------------------+----+----+-------+--------+-----+--------+
|2018-11-09 15:00:01|  U3|null| Banana|   Fruit|  0.7|       1|
|2019-12-05 04:15:42|  U1|  21| Banana|   Fruit|  0.7|       2|
|2020-02-02 03:45:34|  U3|null| Banana|   Fruit|  0.7|       1|
|2020-04-01 13:21:41|  U1|  21| Banana|   Fruit|  0.7|       2|
|2020-12-03 16:23:48|  U3|null| Banana|   Fruit|  0.5|       3|
+-------------------+----+----+-------+--------+-----+--------+

**Exercise 27: Select columns from `data` that have no missing values and assign it to `data_nomissing_cols`**

In [75]:
def drop_null_columns(df):
    """
    This function drops all columns which contain null values.
    :param df: A PySpark DataFrame
    """
    null_counts = (
        df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df.columns])
        .collect()[0]
        .asDict()
    )
    to_drop = [k for k, v in null_counts.items() if v > 0]
    df = df.drop(*to_drop)
    return df


# Drops column b2, because it contains null values
data_nomissing_cols = drop_null_columns(data)
data_nomissing_cols.show()

+-------------------+----+-------+-----+--------+
|          timestamp|user|product|price|quantity|
+-------------------+----+-------+-----+--------+
|2017-01-01 13:22:41|  U1|   Eggs|  2.3|       2|
|2017-05-22 09:54:21|  U2|  Bread|  0.6|       2|
|2018-11-09 15:00:01|  U3| Banana|  0.7|       1|
|2018-12-24 23:03:33|  U1|  Water|  0.2|       1|
|2019-03-03 06:21:58|  U4|   Eggs|  2.3|       2|
|2019-06-17 16:13:39|  U5| Grapes|  1.5|       1|
|2019-07-28 21:03:11|  U5|  Bread|  0.6|       1|
|2019-12-05 04:15:42|  U1| Banana|  0.7|       2|
|2020-02-02 03:45:34|  U3| Banana|  0.7|       1|
|2020-03-05 07:09:12|  U4| Grapes|  1.5|       1|
|2020-03-22 19:29:38|  U1|  Water|  0.2|       1|
|2020-03-30 09:44:30|  U4|  Water|  0.2|       1|
|2020-04-01 13:21:41|  U1| Banana|  0.7|       2|
|2020-07-08 11:45:25|  U2| Grapes|  1.5|       1|
|2020-11-19 18:51:22|  U5|  Water|  0.2|       1|
|2020-12-03 16:23:48|  U3| Banana|  0.5|       3|
|2021-02-03 01:14:40|  U5|   Eggs|  2.1|       4|
|2021-05-26 22:42:15|  U3|  Bread|  0.6|       1|
|2021-06-14 15:49:28|  U4|   Eggs|  2.3|       2|
|2021-07-01 04:37:31|  U4|  Water|  0.3|       1|
+-------------------+----+-------+-----+--------+

**Exercise 28: Select rows from `data` that have no missing values and assign it to `data_nomissing_rows`**

In [78]:
data_nomissing_rows = data.dropna()
data_nomissing_rows.show()

+-------------------+----+---+-------+--------+-----+--------+
|          timestamp|user|age|product|category|price|quantity|
+-------------------+----+---+-------+--------+-----+--------+
|2017-01-01 13:22:41|  U1| 21|   Eggs|   Dairy|  2.3|       2|
|2018-12-24 23:03:33|  U1| 21|  Water|   Drink|  0.2|       1|
|2019-03-03 06:21:58|  U4| 19|   Eggs|   Dairy|  2.3|       2|
|2019-06-17 16:13:39|  U5| 25| Grapes|   Fruit|  1.5|       1|
|2019-12-05 04:15:42|  U1| 21| Banana|   Fruit|  0.7|       2|
|2020-03-05 07:09:12|  U4| 19| Grapes|   Fruit|  1.5|       1|
|2020-03-22 19:29:38|  U1| 21|  Water|   Drink|  0.2|       1|
|2020-03-30 09:44:30|  U4| 19|  Water|   Drink|  0.2|       1|
|2020-04-01 13:21:41|  U1| 21| Banana|   Fruit|  0.7|       2|
|2020-07-08 11:45:25|  U2| 41| Grapes|   Fruit|  1.5|       1|
|2020-11-19 18:51:22|  U5| 25|  Water|   Drink|  0.2|       1|
|2021-02-03 01:14:40|  U5| 25|   Eggs|   Dairy|  2.1|       4|
|2021-06-14 15:49:28|  U4| 19|   Eggs|   Dairy|  2.3|       2|
|2021-07-01 04:37:31|  U4| 19|  Water|   Drink|  0.3|       1|
+-------------------+----+---+-------+--------+-----+--------+

**Exercise 29: Select unique rows from `data` and assign it to `data_unique` and select unique `product` from `data_unique` and assign it to `product_unique`**

In [80]:
data_unique = data.drop_duplicates()
data_unique.show()

+-------------------+----+----+-------+--------+-----+--------+
|          timestamp|user| age|product|category|price|quantity|
+-------------------+----+----+-------+--------+-----+--------+
|2019-06-17 16:13:39|  U5|  25| Grapes|   Fruit|  1.5|       1|
|2021-05-26 22:42:15|  U3|null|  Bread|    null|  0.6|       1|
|2018-11-09 15:00:01|  U3|null| Banana|   Fruit|  0.7|       1|
|2019-03-03 06:21:58|  U4|  19|   Eggs|   Dairy|  2.3|       2|
|2021-02-03 01:14:40|  U5|  25|   Eggs|   Dairy|  2.1|       4|
|2017-01-01 13:22:41|  U1|  21|   Eggs|   Dairy|  2.3|       2|
|2020-07-08 11:45:25|  U2|  41| Grapes|   Fruit|  1.5|       1|
|2021-06-14 15:49:28|  U4|  19|   Eggs|   Dairy|  2.3|       2|
|2019-07-28 21:03:11|  U5|  25|  Bread|    null|  0.6|       1|
|2020-12-03 16:23:48|  U3|null| Banana|   Fruit|  0.5|       3|
|2017-05-22 09:54:21|  U2|  41|  Bread|    null|  0.6|       2|
|2020-11-19 18:51:22|  U5|  25|  Water|   Drink|  0.2|       1|
|2021-07-01 04:37:31|  U4|  19|  Water|   Drink|  0.3|       1|
|2020-03-30 09:44:30|  U4|  19|  Water|   Drink|  0.2|       1|
|2020-03-22 19:29:38|  U1|  21|  Water|   Drink|  0.2|       1|
|2019-12-05 04:15:42|  U1|  21| Banana|   Fruit|  0.7|       2|
|2020-02-02 03:45:34|  U3|null| Banana|   Fruit|  0.7|       1|
|2020-04-01 13:21:41|  U1|  21| Banana|   Fruit|  0.7|       2|
|2020-03-05 07:09:12|  U4|  19| Grapes|   Fruit|  1.5|       1|
|2018-12-24 23:03:33|  U1|  21|  Water|   Drink|  0.2|       1|
+-------------------+----+----+-------+--------+-----+--------+

In [ ]:
data.uniq

In [85]:
product_unique = data_unique.select("product").distinct().rdd.map(lambda item: item[0]).collect()
product_unique

['Water', 'Banana', 'Grapes', 'Bread', 'Eggs']

**Exercise 30: Select first row of each user from `data` and assign it to `data_first`**

In [97]:
w = Window.partitionBy("user").orderBy(F.col("user"))

data_first = data.withColumn("row", F.row_number().over(w)).filter(F.col("row") == 1).drop("row")
data_first.show()

+-------------------+----+----+-------+--------+-----+--------+
|          timestamp|user| age|product|category|price|quantity|
+-------------------+----+----+-------+--------+-----+--------+
|2017-01-01 13:22:41|  U1|  21|   Eggs|   Dairy|  2.3|       2|
|2017-05-22 09:54:21|  U2|  41|  Bread|    null|  0.6|       2|
|2018-11-09 15:00:01|  U3|null| Banana|   Fruit|  0.7|       1|
|2019-03-03 06:21:58|  U4|  19|   Eggs|   Dairy|  2.3|       2|
|2019-06-17 16:13:39|  U5|  25| Grapes|   Fruit|  1.5|       1|
+-------------------+----+----+-------+--------+-----+--------+

âœ… This completes Set 3: Data Selection (Exercises 21-30) 

Original exercises for Datatable package can be found [here](https://github.com/vopani/datatableton).

Pandas version can be found [there](https://github.com/Extremesarova/pandas_exercises).